{% comment %} Ensure include.folder has both a leading and trailing slash {% endcomment %}
{% assign folder = "/" | append: include.folder | append: "/" | replace: "//","/" %}

{% comment %} Loop over all images in the site, and if its containing folder matches the supplied include.folder, then display said image {% endcomment %}
{% assign classname = "gallery-regular" %}
{% if folder contains "-part-" %}
    {% assign classname = "gallery-continuation" %}
{% endif %}

<ul class="image-gallery {{ classname }}">
    {% for file in site.static_files %}
        {% if file.path contains include.folder %}
            {% assign containingfolderpath = file.path | replace: file.name,"" | replace: "//","/" %}

            {% if containingfolderpath == folder %}
                {% if file.extname == '.jpg' or file.extname == '.jpeg' or file.extname == '.JPG' or file.extname == '.JPEG' or file.extname == '.gif' or file.extname == '.GIF' %}
                    {% assign filenameparts = file.path | split: "/" %}
                    {% assign filename = filenameparts | last | replace: file.extname,"" %}
                    {% assign imagepath = file.path | relative_url %}

                    <li>
                        <a href="{{ imagepath }}">
                            {% comment %} Display a placeholder while the image is loading {% endcomment %}
                            <div class="placeholder"></div>
                            {% if site.url contains 'localhost' or site.url contains '127.0.0.1' or file.extname == '.gif' or file.extname == '.GIF' %}
                                {% comment %} If the site is running locally, or if it's a gif then just display the image as-is {% endcomment %}
                                <img 
                                    src="{{ imagepath }}" 
                                    loading="lazy" 
                                    style="filter: opacity(0);" 
                                    onload="this.style.display='block'; this.previousElementSibling.style.display='none'; this.style.filter='none';" 
                                />
                            {% else %}
                                {% comment %} If the site is running on the Internet, then use the weserv.nl service to resize and optimize the image {% endcomment %}
                                <img 
                                    src="//images.weserv.nl/?url={{ site.url | replace: 'http://','' | replace: 'https://','' }}{{ imagepath }}&h=300&output=jpg&q=85" 
                                    loading="lazy" 
                                    style="filter: opacity(0);" 
                                    onload="this.style.display='block'; this.previousElementSibling.style.display='none'; this.style.filter='none';" 
                                />
                            {% endif %}
                            <span><em>{{ include.caption }}</em></span>
                        </a>
                    </li>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>