<div class="related">
  <h2>{{ site.data.settings.related_posts }}</h2>
  <ul class="related-posts">
    {% assign start_idx = -1 %}
    {% for post in site.posts reversed %}
      {% if post.url == page.url %}
        {% assign start_idx = forloop.index0 %}
        {% continue %}
      {% endif %}
    
      {% if start_idx > -1 %}
        <li>
          <h3>
            <a href="{{ site.github.url }}{{ post.url }}">
              <div class="related-thumbnail">
                {% if post.image %}
                  <img src="{{ site.url }}{{ site.baseurl }}{{ post.image }}">
                {% endif %}
              </div>
              <div class="related-title">
                {{ post.title }}
              </div>
            </a>
          </h3>
        </li>
        {% break %}
      {% endif %}
    {% endfor %}
    
    {% if start_idx == 5 %}
      <p>That's it!</p>
      <li>
        <h3>
          <a href="/tokyo">
            <div class="related-thumbnail">
              
                <img src="/assets/uploads/images/test/tokyo-hero.jpg">
              
            </div>
            <div class="related-title">
              Back to the beginning…
            </div>
          </a>
        </h3>
      </li>
    {% endif %}
  </ul>
</div>
